/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
}

#navbar ul {
  list-style-type: none;
  text-align: center;
}

#navbar ul li {
  display: inline;
  margin-right: 20px;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: yellow;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

#projects {
  padding: 50px 0;
}

.project-tile {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.project-tile h2 {
  margin-bottom: 10px;
}

.project-tile a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
}

.project-tile a:hover {
  background-color: #333;
  color: #fff;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  /* estilos a aplicar cuando el ancho de la pantalla sea 600px o menos y la orientación sea vertical */
  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #030303;
    padding: 10px 0;
  }
}
